/* - General - */

/* --- Typography --- */

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/Lato-Regular/LatoRegular.eot");
  src: url("../fonts/Lato/Lato-Regular/LatoRegular.eot")
      format("embedded-opentype"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.woff") format("woff"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.ttf") format("truetype"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.svg#LatoRegular") format("svg");
	font-display: fallback;
}

body {
	font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  position: relative;
	font-family: "LatoRegular";
  margin-top: 0;
  margin-bottom: 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}

.heading-uppercase {
  text-transform: uppercase;
}

h5.heading-uppercase,
.h5.heading-uppercase {
  letter-spacing: 3px;
  margin-right: -3px;
}

p.lead {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

a {
	color: #527ccf;
  text-decoration: none;
}

a.light {
  color: rgba(255, 255, 255, 1);
}

a.light:hover, a.light:focus, a.light:visited {
  color: rgba(255, 255, 255, 0.75);
}

a.dark {
  color: rgba(0, 0, 0, 1);
}

a.dark:hover, a.dark:focus, a.dark:visited {
  color: rgba(0, 0, 0, 0.75);
}

a, .btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
	outline: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  background-color: #f7f7f7;
  padding: 60px 40px 40px 70px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 32px;
  border: 0;
}

blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 300px;
  content: "\201D";
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  line-height: 1;
  z-index: 0;
}

blockquote > * {
  position: relative;
  z-index: 1;
}

.blockquote-reverse,
blockquote.pull-right {
  padding: 60px 70px 40px 40px;
  border: 0;
}

.blockquote-reverse:before {
  left: auto;
  right: 60px;
}

blockquote.pull-right {
  margin: 5px 0 10px 20px;
  max-width: 300px;
}

blockquote.pull-left {
  margin: 5px 20px 10px 0;
  max-width: 370px;
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
table,
ul {
  margin-bottom: 30px;
}

input,
select,
textarea {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* --- Helper --- */

/* Backgrounds */
.bg-dark {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

/* Buttons */
.btn {
  font-size: 14px !important;
}

.btn-transparent {
  background-color: transparent !important;
  border-color: white !important;
}

/* Navbar */
.navbar-brand-img {
  max-height: 3rem !important;
}
 
.navbar-dark .navbar-brand-img {
  content: url("../images/logo/bg-black-0.5x.png");
} 

.navbar-light .navbar-brand-img {
  content: url("../images/logo/bg-white-0.5x.png");
}

.navbar-dark .navbar-brand .navbar-brand-text,
.navbar-dark .navbar-brand .navbar-brand-img {
  filter: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler-alternative-icon {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar-light .navbar-toggler-alternative-icon:before,
.navbar-light .navbar-toggler-alternative-icon:after {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-light .btn-transparent {
  border-color: black !important;
}

@media (max-width: 1200px) {
  .navbar .navbar-nav .active > .nav-link:before,
  .navbar .navbar-nav .nav-link.active:before {
    border-bottom: 0px solid currentColor !important;
  }
}

/* Footer */
footer {
	font-size: 12px;
}

footer p {
  margin-bottom: 0 !important;
}

@media (min-width: 992px) {
  #hubspot-messages-iframe-container iframe {
		margin-bottom: 3.7rem;
		margin-right: 4.5rem;
	}
}

.ln-copyright {
  bottom: 2rem !important;
}

/* Social Icons */
.social-icons a {
  color: white;
	font-size: 18px;
  transition: opacity 0.3s ease-out;
}

.social-icons ul:hover a {
	color: white;
  opacity: 0.54;
}

.social-icons ul:hover a:hover {
	color: white;
  opacity: 1;
}

/* Display */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-table {
  display: table;
}

.display-flex {
  display: flex;
}

/* Checkboxes and Radios */
input[type="radio"],
input[type="checkbox"] {
  margin-top: 7px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -22px;
}

.radio label,
.checkbox label,
.radio-inline,
.checkbox-inline {
  padding-left: 22px;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 15px;
}

/* Divider */
.divider {
  display: block;
  margin: 20px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 1px;
  background-color: #e8e8e8;
}

.divider.divider-alt {
  width: 54px;
  height: 1px;
  background-color: #e8e8e8;
}

.divider.divider-alt.divider-left {
  margin-left: 0;
  margin-right: 0;
}

.divider.divider-alt.divider-center {
  margin-left: auto;
  margin-right: auto;
}

.divider.divider-alt.divider-right {
  margin: 0;
  left: auto;
  float: right;
}

.divider.divider-alt.divider-light {
  background-color: #fff;
}

.divider.divider-alt.divider-dark {
  background-color: #333;
}

/* --- Spacing --- */

section {
	padding: 6rem 0 1rem 0 !important;
}

@media (min-width: 1400px) {
  .site-navbar {
    padding-left: 9rem !important;
    padding-right: 9rem !important;
  }
}

.header-info-icon {
  font-size: 0.6em;
  position: absolute;
  top: 20% !important;
}

@media (max-width: 992px) {
  .navbar .btn {
    text-align: unset !important;
  }

  .navbar .btn-transparent {
    border-style: none !important;
  }
}

@media (min-width: 992px) {
  .calc-nav {
    visibility: hidden !important;
  }
}

/* --- Image zoom effect --- */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
}

/* - Home Page - */

/* --- Mission Section --- */

/* - Mission Image Center - */
.mission-image-center {
  /* border: 1px solid #ddd; */
  border-radius: 0.3125rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
	height: auto;
  width: 45%;
}

@media (min-width: 576px) {
  .mission-image-center {
    width: 42% !important;
  }
}
@media (min-width: 768px) {
  .mission-image-center {
    width: 32% !important;
  }
}
@media (min-width: 992px) {
  .mission-image-center {
    width: 35% !important;
  }
}
@media (min-width: 1700px) {
  .mission-image-center {
    width: 50% !important;
  }
}

.mission-align-items {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .arrow-small-screen {
    transform: rotate(90deg);
    margin-bottom: 0 !important;
    /* center arrow icons that are not centered */
    margin-left: -10px;
  }
}

/* --- Services Section - Icons --- */

.icon-box {
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-box p:last-child {
  margin-bottom: 0;
}

.icon-box-icon {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 64px;
}

/* --- Portfolio Section --- */

.portfolio-item-container {
  position: relative;
  width: 480px !important;
  height: 350px !important;
  margin-right: 1rem;
  text-align: center;
  color: white;
}

.portfolio-item-image {
	height: 350px !important;
	width: 480px !important;
  object-fit: cover;
}

.portfolio-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
	padding: 5px 30px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-item-title h3 {
  text-shadow: 2px 2px #434343;
	text-wrap: pretty;
}

.portfolio-item-title h6 {
  filter: invert(1);
	background: inherit;
	background-clip: text;
	color: transparent;
}

.portfolio-item-source {
  position: absolute;
  bottom: 10px;
	right: 15px;
  font-size: 10px;
}

/* --- Team Section - Profile Card --- */

.profile-card {
  position: relative;
}

.profile-card .user-image {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 25px;
}

.profile-card .user-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.profile-card .user-image:hover .user-detail {
  opacity: 1;
}

.profile-card .user-image::after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.profile-card .user-image:hover::after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.profile-card .ud-container {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 15px;
  z-index: 2;
}

.profile-card .ud-content {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.profile-card .user-detail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.profile-card h5 {
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .profile-card:hover h5 {
	color: #2951d5;
} */

.profile-card .role {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 24px;
  color: #979797;
}

/* --- Contact Section - Form --- */

.form-control {
  height: auto;
  line-height: 20px;
  padding: 15px 15px;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eaecf1;
  border-radius: 0.3125rem !important;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease, border 0.3s ease,
    color 0.3s ease;
  -moz-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-control.light {
  color: #fff;
  background: rgba(255, 255, 255, 0.13);
}

.form-control.light:focus {
  background: rgba(255, 255, 255, 0.13);
}

.form-control.dark {
  color: #fff;
  background: rgba(0, 0, 0, 0.54);
}

.form-control.dark:focus {
  background: rgba(0, 0, 0, 0.57);
}

.form-control.fc-bordered {
  background: transparent;
  border: 1px solid #e7e7e7;
  color: #333;
  padding: 15px 21px;
}

.form-control.fc-bordered.light {
  border-color: #fff;
  color: #fff;
}

.form-control.fc-bordered.dark {
  border-color: #333;
  color: #333;
}

.form-control.fc-bordered:focus {
  border-color: #a7a7a7;
}

.form-control.fc-bordered.light:focus {
  border-color: #fff;
}

.form-control.fc-bordered.dark:focus {
  border-color: #000;
}

.form-control:-moz-placeholder {
  color: #575757;
}
.form-control::-moz-placeholder {
  color: #575757;
}
.form-control:-ms-input-placeholder {
  color: #575757;
}
.form-control::-webkit-input-placeholder {
  color: #575757;
}

.form-control.light:-moz-placeholder {
  color: #fff;
}
.form-control.light::-moz-placeholder {
  color: #fff;
}
.form-control.light:-ms-input-placeholder {
  color: #fff;
}
.form-control.light::-webkit-input-placeholder {
  color: #fff;
}

.form-control.dark:-moz-placeholder {
  color: #adadad;
}
.form-control.dark::-moz-placeholder {
  color: #adadad;
}
.form-control.dark:-ms-input-placeholder {
  color: #adadad;
}
.form-control.dark::-webkit-input-placeholder {
  color: #adadad;
}

.form-control.fc-bordered:-moz-placeholder {
  color: #575757;
}
.form-control.fc-bordered::-moz-placeholder {
  color: #575757;
}
.form-control.fc-bordered:-ms-input-placeholder {
  color: #575757;
}
.form-control.fc-bordered::-webkit-input-placeholder {
  color: #575757;
}

.form-control.fc-bordered.light:-moz-placeholder {
  color: #fff;
}
.form-control.fc-bordered.light::-moz-placeholder {
  color: #fff;
}
.form-control.fc-bordered.light:-ms-input-placeholder {
  color: #fff;
}
.form-control.fc-bordered.light::-webkit-input-placeholder {
  color: #fff;
}

.form-control.fc-bordered.dark:-moz-placeholder {
  color: #adadad;
}
.form-control.fc-bordered.dark::-moz-placeholder {
  color: #adadad;
}
.form-control.fc-bordered.dark:-ms-input-placeholder {
  color: #adadad;
}
.form-control.fc-bordered.dark::-webkit-input-placeholder {
  color: #adadad;
}

.form-group,
.form-control {
  margin-bottom: 25px;
}

.form-group .form-control {
  margin-bottom: 0;
}

.contact-form-result {
  display: none;
  margin-top: 1rem;
}

.contact-flex {
  display: flex;
  justify-content: space-evenly;
}

.contact-flex > div {
  width: 200px;
}

@media (min-width: 992px) {
  .contact-flex {
    display: unset !important;
  }
}

/* - Portfolio Page - */

/* --- Image Container --- */

.card-img-top {
	height: 350px;
	object-fit: cover;
}

.card-img-top-source {
  position: absolute;
  top: 5px;
	right: 15px;
  font-size: 10px;
}

/* --- Card --- */

.card-p {
  margin-bottom: 8px !important;
}

@media (max-width: 1200px) {
  .card-pos {
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.card-font {
  font-family: "LatoRegular";
  text-align: left;
}

/* - Calculator Page - */

main {
  width: 100%;
}

/* --- Price Box --- */

.price-box-desc {
  color: #ff7b79;
  font-size: 11px;
  font-weight: 500;
  background: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}

.price-box {
  position: absolute;
  top: 50px;
  right: 30px;
  padding: 7px 8px 3px;
  background-color: #fff;
  color: #999999;
  border: 1px solid #999999;
  z-index: 1;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  border-radius: 0.3125rem;
}

@media (min-width: 770px) {
  .price-box {
    top: 26px;
  }
}

@media (max-width: 770px) {
  .price-box {
    position: relative;
    top: -10px;
    left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.bg-black .summaryInput {
  background: unset !important;
  color: #fff;
}

.summaryInput {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  color: #333;
  border: none;
}

/* --- Option Box --- */

.option-box {
  position: relative;
  background: #fff;
  margin: 0 0 30px 0;
  padding: 30px 15px;
  border: 1px solid #ddd;
  border-radius: 0.3125rem;
}

.option-box-header {
  margin: 0 15px 10px 15px;
  width: 100%;
  border-bottom: 2px dotted #ddd;
}

/* --- Extra Option --- */

label.cbx.terms {
  margin: 0;
  padding: 0;
  border: 0;
  height: 22px;
}

label.cbx {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  border: solid 1px #ddd;
  border-radius: 0.3125rem;
  height: 45px;
  padding: 10px 15px;
  width: 100%;
}

.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #ddd;
  transition: all 0.2s ease;
  margin-right: 10px;
  border-radius: 0.3125rem;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #b3b3b3;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx:hover span:first-child {
  border-color: #000000;
}

.inp-cbx {
  display: none;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #999999;
  border-color: #999999;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.option-box-header-margin {
  margin-bottom: 30px !important;
}

.label-cbx-margin {
  margin-top: 0px !important;
}

.sub-header-box {
  margin-bottom: 10px !important;
}

/* --- Price Slider ---  */

.irs-single {
  background-color: #999999 !important;
}

.irs--round .irs-bar {
  background-color: #999999 !important;
}

.irs--round .irs-handle {
  border-top-color: #999999 !important;
  border-right-color: #999999 !important;
  border-bottom-color: #999999 !important;
  border-left-color: #999999 !important;
}

.irs--round .irs-single:before {
  border-top-color: #999999 !important;
}

.header-info .header-info-title .calculator-cells-selector {
  display: inline-block !important;
}

/* Stacked buttons on small phones in German language */
@media (max-width: 350px) {
  .mt-lang-btn-stacked {
    margin-top: 0.5rem !important;
  }
}

/* - Data Privacy Page - */

/* --- Bullet Points --- */

ul.a {
  margin-left: 1rem;
  list-style-type: circle;
}

/* - Maintenance Page - */

.overlay.overlay-global.overlay-credits {
  position: unset !important;
}

.bg-cover-credits {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 12px;
  line-height: 1;
  z-index: 1;
  cursor: pointer;
}

.bg-cover-credits a {
  color: #fff;
}
