@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/Lato-Regular/LatoRegular.eot");
  src: url("../fonts/Lato/Lato-Regular/LatoRegular.eot")
      format("embedded-opentype"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.woff") format("woff"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.ttf") format("truetype"),
    url("../fonts/Lato/Lato-Regular/LatoRegular.svg#LatoRegular") format("svg");
}

@font-face {
  font-family: Oxygen;
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}

/* Language Flag */
.ln-flag {
  top: 2rem !important;
}

.ln-flag span {
  width: 100%;
  margin: auto;
}

/* Place Your Custom Styles Here */

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.125rem + 2px);
  padding: 0.5625rem 1.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #515d6d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eaecf1;
  border-radius: 0.3125rem;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #515d6d;
}
.form-control:focus {
  color: #515d6d;
  background-color: #fff;
  border-color: #b2bdf6;
  outline: 0;
  box-shadow: none, 0 0 0 0.2rem rgba(64, 91, 232, 0.25);
}
.form-control::-ms-input-placeholder {
  color: #768394;
  opacity: 1;
}
.form-control::placeholder {
  color: #768394;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #eaecf1;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #515d6d;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.contact-form-result,
.contact-form-result {
  display: none;
  margin-top: 1rem;
}

/*------------------------------------------------------------------
[2. Typography]
*/
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Montserrat", sans-serif;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}

/* Heading Uppercase */
.heading-uppercase {
  text-transform: uppercase;
}

h1.heading-uppercase,
.h1.heading-uppercase {
  letter-spacing: 7px;
  margin-right: -7px;
}

h2.heading-uppercase,
.h2.heading-uppercase {
  letter-spacing: 7px;
  margin-right: -7px;
}

h3.heading-uppercase,
.h3.heading-uppercase {
  letter-spacing: 7px;
  margin-right: -7px;
}

h4.heading-uppercase,
.h4.heading-uppercase {
  letter-spacing: 4px;
  margin-right: -4px;
}

h5.heading-uppercase,
.h5.heading-uppercase {
  letter-spacing: 3px;
  margin-right: -3px;
}

h6.heading-uppercase,
.h6.heading-uppercase {
  letter-spacing: 2px;
  margin-right: -2px;
}

p.lead {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

a {
  cursor: pointer;
  color: #2951d5;
  text-decoration: none;
}

a,
.btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  color: #2951d5;
}

a,
button {
  outline: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  background-color: #f7f7f7;
  padding: 60px 40px 40px 70px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 32px;
  border: 0;
}

blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 300px;
  content: "\201D";
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  line-height: 1;
  z-index: 0;
}

blockquote > * {
  position: relative;
  z-index: 1;
}

.blockquote-reverse,
blockquote.pull-right {
  padding: 60px 70px 40px 40px;
  border: 0;
}

.blockquote-reverse:before {
  left: auto;
  right: 60px;
}

blockquote.pull-right {
  margin: 5px 0 10px 20px;
  max-width: 300px;
}

blockquote.pull-left {
  margin: 5px 20px 10px 0;
  max-width: 370px;
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 30px;
}

pre {
  margin: 0;
  padding: 9.5px;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 0px;
  text-align: left;
}

input,
select,
textarea {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*------------------------------------------------------------------
[7.6 Social Icons]
*/
.socials-icons {
  margin: 0;
  height: 40px;
}

.socials-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

.socials-icons li {
  margin: 0;
  display: block;
  float: left;
}

/* Icons */
.social-icon {
  display: block;
  float: left;
  margin: 0;
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 38px !important;
  color: #777;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon i {
  color: #777;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.social-icon:hover {
  opacity: 0.8;
}

.social-icon:hover,
.social-icon:hover i {
  color: #333;
}

.socials-icons.light .social-icon,
.socials-icons.light .social-icon i,
.socials-icons.light .social-icon:hover,
.socials-icons.light .social-icon:hover i {
  color: #fff;
}

.socials-icons.dark .social-icon,
.socials-icons.dark .social-icon i,
.socials-icons.dark .social-icon:hover,
.socials-icons.dark .social-icon:hover i {
  color: #333;
}

/*------------------------------------------------------------------
[7.9 Divider]
*/
.divider {
  display: block;
  margin: 20px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 1px;
  background-color: #e8e8e8;
}

.divider.divider-alt {
  width: 54px;
  height: 1px;
  background-color: #e8e8e8;
}

.divider.divider-alt.divider-left {
  margin-left: 0;
  margin-right: 0;
}

.divider.divider-alt.divider-center {
  margin-left: auto;
  margin-right: auto;
}

.divider.divider-alt.divider-right {
  margin: 0;
  left: auto;
  float: right;
}

.divider.divider-alt.divider-light {
  background-color: #fff;
}

.divider.divider-alt.divider-dark {
  background-color: #333;
}

/*------------------------------------------------------------------
[7.11 Icon Box]
*/

.icon-box {
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-box p:last-child {
  margin-bottom: 0;
}

.icon-box.boxed {
  padding: 45px 30px;
}

.icon-box.bordered {
  padding: 45px 30px;
  border: 1px solid #e7e7e7;
}

.icon-box.bordered:hover {
  border-color: #2951d5;
}

.icon-box .icon-box-icon {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 64px;
}

/*------------------------------------------------------------------
[7.12 Profile Card]
*/

.profile-card {
  position: relative;
}

.profile-card .user-image {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 25px;
}

.profile-card .user-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.profile-card h5 {
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .profile-card:hover h5 {
	color: #2951d5;
} */

.profile-card .role {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 24px;
  color: #979797;
}

.profile-card .user-detail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.profile-card .ud-container {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 15px;
  z-index: 2;
}

.profile-card .ud-content {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.profile-card:hover .user-detail {
  opacity: 1;
}

.profile-card .user-image::after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.profile-card .user-image:hover::after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/*------------------------------------------------------------------
[12. Utility]
*/

/*------------------------------------------------------------------
[12.1 Helper Classes]
*/

/* Display */
.display-block {
  display: block;
}

.display-table {
  display: table;
}

.contact-flex {
  display: flex;
  justify-content: space-evenly;
}

.contact-flex > div {
  width: 200px;
}

@media (min-width: 768px) {
  .contact-flex {
    display: unset !important;
  }
}

/*------------------------------------------------------------------
[7. Elements]
*/

/*------------------------------------------------------------------
[7.1 Forms]
*/
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: 1;
}

input.placeholder,
textarea.placeholder {
  color: #575757;
}

input[placeholder] {
  text-overflow: ellipsis;
}

::-moz-placeholder {
  text-overflow: ellipsis;
} /* firefox 19+ */

input:-moz-placeholder {
  text-overflow: ellipsis;
}

textarea.form-control {
  height: auto;
}

.form-control {
  height: auto;
  line-height: 20px;
  padding: 16px 21px;
  border: 0;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease, border 0.3s ease,
    color 0.3s ease;
  -moz-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-control:focus {
  outline: none;
  outline-offset: 0;
  background: rgba(0, 0, 0, 0.01);
  border-color: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control.light {
  color: #fff;
  background: rgba(255, 255, 255, 0.13);
}

.form-control.light:focus {
  background: rgba(255, 255, 255, 0.13);
}

.form-control.dark {
  color: #fff;
  background: rgba(0, 0, 0, 0.54);
}

.form-control.dark:focus {
  background: rgba(0, 0, 0, 0.57);
}

.form-control.fc-bordered {
  background: transparent;
  border: 1px solid #e7e7e7;
  color: #333;
  padding: 15px 21px;
}

.form-control.fc-bordered.light {
  border-color: #fff;
  color: #fff;
}

.form-control.fc-bordered.dark {
  border-color: #333;
  color: #333;
}

.form-control.fc-bordered:focus {
  border-color: #a7a7a7;
}

.form-control.fc-bordered.light:focus {
  border-color: #fff;
}

.form-control.fc-bordered.dark:focus {
  border-color: #000;
}

.form-control:-moz-placeholder {
  color: #575757;
}
.form-control::-moz-placeholder {
  color: #575757;
}
.form-control:-ms-input-placeholder {
  color: #575757;
}
.form-control::-webkit-input-placeholder {
  color: #575757;
}

.form-control.light:-moz-placeholder {
  color: #fff;
}
.form-control.light::-moz-placeholder {
  color: #fff;
}
.form-control.light:-ms-input-placeholder {
  color: #fff;
}
.form-control.light::-webkit-input-placeholder {
  color: #fff;
}

.form-control.dark:-moz-placeholder {
  color: #adadad;
}
.form-control.dark::-moz-placeholder {
  color: #adadad;
}
.form-control.dark:-ms-input-placeholder {
  color: #adadad;
}
.form-control.dark::-webkit-input-placeholder {
  color: #adadad;
}

.form-control.fc-bordered:-moz-placeholder {
  color: #575757;
}
.form-control.fc-bordered::-moz-placeholder {
  color: #575757;
}
.form-control.fc-bordered:-ms-input-placeholder {
  color: #575757;
}
.form-control.fc-bordered::-webkit-input-placeholder {
  color: #575757;
}

.form-control.fc-bordered.light:-moz-placeholder {
  color: #fff;
}
.form-control.fc-bordered.light::-moz-placeholder {
  color: #fff;
}
.form-control.fc-bordered.light:-ms-input-placeholder {
  color: #fff;
}
.form-control.fc-bordered.light::-webkit-input-placeholder {
  color: #fff;
}

.form-control.fc-bordered.dark:-moz-placeholder {
  color: #adadad;
}
.form-control.fc-bordered.dark::-moz-placeholder {
  color: #adadad;
}
.form-control.fc-bordered.dark:-ms-input-placeholder {
  color: #adadad;
}
.form-control.fc-bordered.dark::-webkit-input-placeholder {
  color: #adadad;
}

.input-xs {
  padding: 7px 20px;
  font-size: 10px;
  line-height: 16px;
}
.input-sm {
  padding: 12px 24px;
  font-size: 12px;
  line-height: 18px;
}
.input-lg {
  padding: 21px 40px;
  font-size: 16px;
}

.form-group,
.form-control,
.input-group {
  margin-bottom: 25px;
}

.form-group .input-group {
  margin-bottom: 0;
}

.form-group .form-control {
  margin-bottom: 0;
}

.helper-group a {
  color: #d9d8da;
  font-size: 12px;
  line-height: 1;
}

.helper-group a:hover {
  color: #575757;
}

label.input-desc {
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", Verdana;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.form-control-feedback {
  top: 6px;
}

.input-sm,
.form-group-sm .form-control,
.form-group-sm .form-control-static {
  height: 34px;
  padding: 7px 12px;
}

select.input-sm,
select.form-group-sm .form-control {
  height: 34px;
  line-height: 34px;
}

select option {
  line-height: 30px;
}

.input-lg,
.form-group-lg .form-control,
.form-group-lg .form-control-static {
  height: 46px;
  padding: 10px 18px;
}

select.input-lg,
select.form-group-lg .form-control {
  height: 46px;
  line-height: 46px;
}

.form-control-feedback {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.input-sm + .form-control-feedback {
  width: 34px;
  height: 34px;
  line-height: 34px;
}

/* Checkboxed and Radios */
input[type="radio"],
input[type="checkbox"] {
  margin-top: 7px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -22px;
}

.radio label,
.checkbox label,
.radio-inline,
.checkbox-inline {
  padding-left: 22px;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 15px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f7f7f7;
}

/* Misc */

.bg-dark {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.hidden {
  display: none !important;
}

.navbar-dark .navbar-brand .navbar-brand-text,
.navbar-dark .navbar-brand .navbar-brand-img {
  filter: none !important;
}

.navbar-brand-img {
  max-height: 3rem !important;
}

.btn {
  font-size: 14px !important;
}

.btn-transparent {
  background-color: transparent !important;
  border-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler-alternative-icon {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar-light .navbar-toggler-alternative-icon:before,
.navbar-light .navbar-toggler-alternative-icon:after {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-light .btn-transparent {
  border-color: black !important;
}

.navbar-dark .navbar-brand-img {
  content: url("../images/logo/bg-transparent-0.5x.png");
}

.navbar-light .navbar-brand-img {
  content: url("../images/logo/bg-white-0.5x.png");
}

.bg-black .navbar-brand-img {
  content: url("../images/logo/bg-black-0.5x.png");
}

@media (max-width: 1200px) {
  .navbar .navbar-nav .active > .nav-link:before,
  .navbar .navbar-nav .nav-link.active:before {
    border-bottom: 0px solid currentColor !important;
  }
}

/* Calculator */

main {
  width: 100%;
}

/* Price Box */

.price-box-desc {
  color: #ff7b79;
  font-size: 11px;
  font-weight: 500;
  background: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}

.price-box {
  position: absolute;
  top: 50px;
  right: 30px;
  padding: 7px 8px 3px;
  background-color: #fff;
  color: #999999;
  border: 1px solid #999999;
  z-index: 1;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

@media (min-width: 770px) {
  .price-box {
    top: 26px;
  }
}

@media (max-width: 770px) {
  .price-box {
    position: relative;
    top: -10px;
    left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.summaryInput {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  border: none;
}

/* Option Box */
.option-box {
  position: relative;
  background: #fff;
  margin: 0 0 30px 0;
  padding: 30px 15px;
  border: 1px solid #ddd;
}

.option-box-header {
  margin: 0 15px 10px 15px;
  width: 100%;
  border-bottom: 2px dotted #ddd;
}

/* Extra Option */
label.cbx.terms {
  margin: 0;
  padding: 0;
  border: 0;
  height: 22px;
}

label.cbx {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  border: solid 1px #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 45px;
  padding: 10px 15px;
  width: 100%;
}

.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #ddd;
  transition: all 0.2s ease;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #b3b3b3;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx:hover span:first-child {
  border-color: #000000;
}

.inp-cbx {
  display: none;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #999999;
  border-color: #999999;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.option-box-header-margin {
  margin-bottom: 30px !important;
}

.label-cbx-margin {
  margin-top: 0px !important;
}

.sub-header-box {
  margin-bottom: 10px !important;
}

/* Price Slider  */
.irs-single {
  background-color: #999999 !important;
}

.irs--round .irs-bar {
  background-color: #999999 !important;
}

.irs--round .irs-handle {
  border-top-color: #999999 !important;
  border-right-color: #999999 !important;
  border-bottom-color: #999999 !important;
  border-left-color: #999999 !important;
}

.irs--round .irs-single:before {
  border-top-color: #999999 !important;
}

.header-info .header-info-title .calculator-cells-selector {
  display: inline-block !important;
}

.terms-footer {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

/* Spacing */

@media (max-width: 1200px) {
  section {
    padding: 7.8rem 0 1rem 0 !important;
  }
}

@media (min-width: 1400px) {
  .site-navbar {
    padding-left: 9rem !important;
    padding-right: 9rem !important;
  }
}

.header-info-icon {
  font-size: 0.6em;
  position: absolute;
  top: 20% !important;
}

@media (max-width: 992px) {
  .navbar .btn {
    text-align: unset !important;
  }

  .navbar .btn-transparent {
    border-style: none !important;
  }
}

@media (min-width: 992px) {
  .calc-nav {
    visibility: hidden !important;
  }
}

/* Stacked buttons on small phones in German language */
@media (max-width: 350px) {
  .mt-lang-btn-stacked {
    margin-top: 0.5rem !important;
  }
}

/* Maintenance Page */
.overlay.overlay-global.overlay-credits {
  position: unset !important;
}

.bg-cover-credits {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 12px;
  line-height: 1;
  z-index: 1000;
  cursor: pointer;
  text-decoration: none;
}

.bg-cover-credits a {
  color: #fff;
}

.bg-cover-credits a:hover {
  color: #1a39db;
  text-decoration: none;
}

/* Portfolio image container */
.portfolio-item-container {
  width: 480px !important;
  height: 350px !important;
  position: relative;
  text-align: center;
  color: white;
  margin-right: 1rem;
}

.portfolio-item-title {
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  position: absolute;
  bottom: 18px;
  left: 30px;
}

.portfolio-item-image {
  width: 480px !important;
  height: 350px !important;
  object-fit: cover;
}

/* Portfolio card */
.card-p {
  margin-bottom: 8px !important;
}

@media (max-width: 1200px) {
  .card-pos {
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.card-font {
  font-family: "Lato";
  text-align: left;
  /* text-transform: uppercase; */
}

.card-p-item {
  font-family: "Lato";
  font-weight: 900 !important;
}
